@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: 'UTM';
  src: url(../fonts/UTM-BryantLG.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'UTM';
  src: url(../fonts/UTM-BryantLG_B.ttf);
  font-weight: bold;
}

*{
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

body {
  font-family: 'Open Sans';
}

.container {
  margin: auto;
  /* max-width: 1366px; */
  width: 100%;
}

/* ======header==== */
header {
  max-width: 100%;
}

.hapo-wrap-nav {
  height: 100px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hapo-wrap-nav .hapo-logo img {
  width: 340px;
  height: 70px;
}

.hapo-logo {
  padding-left: 4%;
  height: 70px;
}

.hapo-nav-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 60px;
}

.hapo-nav-item li {
  float: right;
  margin-left: 30px;
}

.hapo-nav-item li a {
  font: normal bold 14px/19px Open Sans;
  color: #505353;
  text-transform: uppercase;
  border-radius: 17px;
  padding: 5px 10px;
}

.hapo-nav-item li a:hover {
  background-color: #B2D235;
  color: #ffffff;
  -webkit-text-stroke: 0.8px #ffffff;
}

.hapo-wrap-slide {
  max-width: 100%;
  height: 615px;
  background-image: url("../images/hapo-learn-banner.png");
  background-size: cover;
  position: relative;
}

.hapo-slide-dect {
  font-family: UTM;
  display: flex;
  flex-direction: column;
}

.hapo-slide h2 {
  width: 513px;
  height: 51px;
  margin-top: 200px;
  margin-left: 59px;
  font: normal normal 50px UTM;
  color: #11114E;
  letter-spacing: -0.05em;
}

.hapo-slide b {
  width: 513px;
  height: 61px;
  margin-left: 59px;
  font: normal bold 50px/61px UTM;
  color: #11114E;
  -webkit-text-stroke: 1px #11114E;
}

.hapo-slide img {
  vertical-align: middle;
}

.hapo-slide p {
  font: normal normal 20px/25px UTM;
  letter-spacing: -0.05em;
  color: #505353;
  margin-left: 59px;
  width: 250px;
  height: 61px;
}

.hapo-slide-button {
  width: 377px;
  height: 70px;
  margin-left: 15px 0 0 80px;
}

.hapo-slide-button a {
  display: block;
  width: 377px;
  height: 70px;
  margin: 30px 0 0 59px;
  background-color: #B2D235;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  text-align: center;
  font: normal bold  30px/70px UTM;
  letter-spacing: -0.05em;
  color: #FFFFFF;
  -webkit-text-stroke: 0.05px #fff;
}

.hapo-slide-button a:hover {
  transform: scale(1.1);
}

/* ===== */
.block-messenger {
  font: 600 12px Open Sans;
  position: fixed;
  bottom: 90px;
  right: 60px;
  z-index: 1;
}

.toggle-class {
  display: none;
}

.messenger {
  background-color: #2774DF;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
}

.block-chat {
  width: 360px;
  height: 190px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  display: flex ;
  flex-direction: row;
}

.img-hapo {
  width: 28px;
  height: 28px;
  margin: 17% 0 0 5%;
}

.block-content {
  display: flex;
  flex-direction: column;
}

.web-name {
  font: 600 12px;
  color: #7F7F7F;
  margin: 5% 0 0 8% ;
}

.block-alert {
  background-color: #F1F0F0;
  width: 256px;
  height: 53px;
  border-radius: 15px;
  margin: 4% 0 0 3%;
  display: flex;
  align-items: center;
}

.text-alert {
  color: #505353;
  margin-left: 3%;
  text-align: left;
  font: normal normal 12px/17px Open Sans;
  letter-spacing: -0.02em;
  padding: 10px;
}

.hapo-button-messager-link {
  width: 276px;
  height: 37px;
  background-color: #3184F7;
  border-radius: 10px;
  margin-top: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Open Sans;
}

.hapo-button-messager-link:hover {
  opacity: 0.8;
}

.img-mess {
  width: 17px;
  height: 17px;
}

.txt-login {
  text-align: center;
  color: #FFFFFF;
  margin-left: 3%;
}

.txt-chat {
  text-align: center;
  color: #B3B3B3;
  margin-top: 3.5%;
  font-weight: normal;
}

span.close {
  background-color: #C4C4C4;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 15px;
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.messenger:hover {
  transform: scale(1.1);
}

/* ===== */
.hapo-wrap-space {
  position: relative;
  width: 100%;
  height: 161px;
  background-image: linear-gradient(0deg, rgb(182, 178, 178), #ffffff);
}

.hapo-message-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  right: 2%;
  top: 0;
  background-color: #2774df;
  border-radius: 50%;
}

footer {
  font-family: UTM;
  background: #505353;
  max-width: 100%;
  height: 308px;
  position: relative;
}

.hapo-footer-content {
  width: 100%;
  position: absolute;
}

.hapo-footer-logo {
  width: 30%;
}

.hapo-footer-logo img {
  width: 291.6px;
  height: 60px;
  margin: 46px 0 0 80px;
}

.hapo-footer-logo p {
  margin-left: 150px;
  width: 249px;
  height: 50px;
  font: normal normal 20px/25px UTM;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}

.hapo-footer-content {
  display: flex;
  width: 100%;
}

.hapo-footer-menu {
  width: 16%;
}

.hapo-nav-footer ul {
  margin: 30px;
  padding: 20px;
  font-size: 30px;
  list-style-type: none;
}

.hapo-footer-menu > ul {
  margin: 70px 0 0 80px;
  list-style-type: none;
}

.hapo-footer-menu > ul > li {
  margin-top: 15px;
}

.hapo-footer-menu li a {
  text-decoration: none;
  font: normal bold 23px/25px UTM;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}

.hapo-footer-menu a:hover {
  color: #bdd0ea;
  transform: scale(1.1);
  font-size:24px;
}

.hapo-footer-contact {
  display: flex;
  align-items: center;
  width: 37%;
}

.hapo-nav-footer-icon {
  display: flex;
}

.hapo-nav-footer-icon {
  margin-left: 100px;
}

.hapo-nav-footer-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 50px auto auto 30px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.hapo-nav-footer-icon a:hover {
  transform : scale(1.1);
  background-color: #d3fffd;
}

.hapo-nav-footer-icon a span {
  height: 28px;
  line-height: 30px;
}

/* footerCopyRight */
.hapo-copyright {
  position: absolute;
  top: 270px;
  background: #454545;
  height: 38px;
  width: 100%;
}

.hapo-copyright p {
  margin: 12px auto auto auto;
  text-align: center;
  font: normal normal 20px/18px UTM;
  letter-spacing: -0.05em;
  color: #FFFFFF;
  -webkit-text-stroke: 0.6px #fff;
}

.courses-header {
  height: 170px;
  background-color: #E5E5E5;
}

.hapo-wrap-courses {
  margin: auto;
  width: 100%;
}

.hapo-wrap-courses-row {
  width: 85%;
  position: relative;
  top: -100px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.hapo-course {
  width: 370px;
  height: 470px;
  margin: auto 15px auto 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.hapo-header-courses {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 215px;
  background: #3F6185;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0 0;
}

.hapo-body-courses {
  height: auto;
  width: 100%;
  margin: auto;
  font: normal bold 12px/20px UTM;
  text-align: center;
  letter-spacing: -0.05em;
  display: flex;
  flex-direction: column;
}

.hapo-body-courses h2 {
  margin: 20px;
  font: normal bold 30px/37px UTM;
  letter-spacing: -0.05em;
  color: #b2d235;
}

.hapo-body-courses-header {
  height: 60px;
  width: 100%;
}

.hapo-body-courses-content {
  font: normal bold 14px/20px UTM;
  text-align: center;
  padding: 10px;
  letter-spacing: -0.05em;
  color: #505353;
  margin-top: 20px;
  height: 90px;
}

.hapo-body-courses-link {
  display: flex;
  justify-content: center;
}

.hapo-body-courses-link a {
  display: block;
  width: 215px;
  height: 45px;
  font: normal bold 20px/43px UTM;
  background: #b2d235;
  border-radius: 22px;
  color: white;
  margin: 0;
  box-shadow: inset 0px 1.5px 2px #6F8710;
}

.hapo-body-courses-link a:hover {
  transform:scale(1.1);
}

.courses-bgr {
  background: #dc594c;
}

.hapo-courses-rails_icon {
  position: relative;
  left: 10%;
}

.hapo-courses-rails {
  position: relative;
  bottom: -9%;
  left: -10%;
}

.hapo-courses-other {
  margin: auto;
  height: 100px;
  margin-top: 110px;
  margin-bottom: 66px;
}

.hapo-courses-other h1 {
  margin: 0 auto;
  color: #11114E;
  border-bottom: 5px solid #b2d235;
  font: normal bold 80px/96px UTM;
  -webkit-text-stroke: 2px #11114E;
}

.all-courses {
  font: normal bold 40px/49px UTM;
  color: #b2d235;
  letter-spacing: -0.02em;
  height: 0;
}

.hapo-courses-other a {
  font-size: 50px;
  margin-top: 60px;
  color: #90ab26;
  letter-spacing: -0.02em;
  text-shadow: 2px 0px 1px #90ab26;
}

.hapo-courses-other a:hover {
  font-size: 55px;
}

.hapo-courses-other img {
  vertical-align: middle;
}

.hapo-inf-content {
  position: relative;
  padding: 96px 0;
  background: url("../images/background_inf.png") no-repeat;
  background-size: cover;
}

.hapo-inf_one {
  position: absolute;
  top: -30%;
}

.hapo-wrap-inf-content {
  display: flex;
  justify-content: center;
}

.hapo-inf_two {
  width: 750px;
  height: 544px;
  right: 0;
  top: 13.5%;
  bottom: 0;
}

.hapo-content {
  align-self: flex-end;
  margin-right: 25px;
  color: #ffffff;
}

.hapo-content-heading {
  margin-bottom: 15px;
  font: normal bold 60px/86px main-font;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.hapo-content li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  font: 18px/25px main-font;
  letter-spacing: -0.05em;
}

.hapo-content img {
  margin-right: 15px;
}

/* ==== feedback */
.hapo-wrap-feedback {
  height: 580px;
}

.hapo-title-feedback {
  font: bold 80px UTM;
  color: #11114E;
  text-align: center;
  margin-bottom: 30px;
}

.hapo-title-feedback h4{
  margin-top: 110px;
  text-shadow: 1px 1px 1px #11114E;
}

.hapo-title-feedback h4:after {
  background-color: #b2d235;
  content: "";
  display: block;
  height: 7px;
  margin: 11px auto 30px;
  position: relative;
  width: 340px;
  border-radius: 3px;
}

.hapo-title-feedback p {
  width: 705px;
  font: 25px UTM;
  text-align: center;
  color: #505353;
  margin: 20px auto;
  text-shadow: 0.5px 0.5px #505353;
}

.hapo-wrap-feedback-comment {
  height: 200px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hapo-wrap-slider {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.hapo-feedback-user {
  height: 300px;
  width: 50%;
}

.hapo-wrap-feedback-content {
  height: 190.47px;
  width: 590px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/Union.png") no-repeat;
  margin: 40px auto auto 15px;
}

.hapo-feedback-user-content {
  width: 470px;
  height: 89px;
  font: normal normal 16px/20px UTM;
  letter-spacing: -0.05em;
  color: #000000;
  padding: 20px;
  border-left: 7px solid #d9dadc;
  text-align: justify;
}

.hapo-message {
  margin-left: 50px;
  display: flex;
}

.hapo-user-inf {
  margin-left: 15px;
}

.hapo-left-right {
  position: absolute;
  margin-top: 9%;
  width: 100%;
  display: flex;
  margin-left: 8px;
  justify-content: space-between;
}

.previous_icon,
.next_icon {
  cursor: pointer;
}

.hapo-username {
  font: normal bold 20px/25px UTM;
  color: #11114E;
  -webkit-text-stroke: 1px #11114e;
}

.hapo-coursesname {
  font: normal bold 16px/20px UTM;
  color: #505353;
  -webkit-text-stroke: 1px #505353;
}

.hapo-like {
  color: #F2C54F;
  font-size: 14px;
}

/* == */
.hapo-wrap-learn {
  height: 500px;
  background: url("../images/background_but.png");
  display: flex;
  justify-content: center;
  background-size: cover;
}

.hapo-header-learn {
  width: 705px;
  height: 158px;
  font: bold 60px UTM;
  text-align: center;
  color: #FFFFFF;
  margin-top: 124px;
}

.hapo-header-learn p {
  -webkit-text-stroke: 3px #FFFFFF;
}

.hapo-body-learn-link {
  display: flex;
  justify-content: center;
}

.hapo-body-learn-link a {
  display: block;
  width: 377px;
  height: 70px;
  margin-top: 20px;
  font: normal bold 30px/70px UTM;
  background: #ffffff;
  border-radius: 35px;
  color: #90AB26;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hapo-body-learn-link a:hover {
  transform: scale(1.1);
}

.hapo-statistic-header p {
  border-radius: 3px;
  margin: 110px auto 40px auto;
  padding: 5px 0;
  text-align: center;
  font: normal bold 80px/98px UTM;
  letter-spacing: -0.02em;
  color: #11114e;
  -webkit-text-stroke: 1px #11114e;
}

.hapo-statistic-header p:after {
  background-color: #b2d235;
  content: "";
  display: block;
  height: 6px;
  margin: 0px auto 30px;
  position: relative;
  width: 270px;
  border-radius: 3px;
}

.hapo-statistic-body {
  display: flex;
  justify-content: center;
  padding: 0 85px;
}

.hapo-statistic-count {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.hapo-statistic-name {
  color: #505353;
  -webkit-text-stroke: 1px #505353;
}

.hapo-statistic-name,
.hapo-statistic-data {
  text-align: center;
  font: normal bold 60px/74px UTM;
  letter-spacing: -0.05em;
}

.hapo-statistic-data {
  margin: 30px auto 140px auto;
  color: #b2d235;
}
